.chapter-title{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.bookmark {
	position: relative;
	display: inline-block;
  width: 0;
  height: 0;
  
  margin: 0em .9em 1.2em .9em;
  
  border-right:  .3em solid transparent;
  border-bottom: .7em  solid #FC0;
  border-left:   .3em solid transparent;

  /* Controlls the size of the stars. */
  font-size: 0.5em;
}

.bookmark:hover{
	cursor: pointer;
}

.bookmark::before, .bookmark::after {
  content: '';
  
  display: block;
  width: 0;
  height: 0;
  
  position: absolute;
  top: .6em;
  left: -1em;

  border-right:  1em solid transparent;
  border-bottom: .7em  solid #FC0;
  border-left:   1em solid transparent;

  transform: rotate(-35deg);
}
  
.bookmark::after {  
  transform: rotate(35deg);
}