@media only screen and (min-device-width: 480px) {
	.container{
		margin: 0 25%;
	}

	.mobile-hidden{
		display: block;
	}

	.desktop-hidden{
		display: none;
	}

  .header { 
    background-image: url('assets/images/header-image-v1.jpg'); 
  }

  .header-container{
		margin: 0 20%;
	}

	.nav {
		height: 23px;
		padding: 0 30px;
	}

	#progress-div{
    top:23px !important;
  }

  .footer{
  	flex-direction: row;
  	justify-content: space-between;
  	align-items: flex-end;
  }

  .quote-para{
  	position: relative;
  	width: 60%;
  }

  .quote{
  	position: absolute;
  	top: 0;
  	left: 100%;
  }

  .snazzy{
		margin: 0 -25vw;
	}
	
	/*animated map svg v1 [deprecated]*/
  #map-container{
		margin: 0 -25vw !important;
	}

	.scrollmagic-pin-spacer {
		margin: 0 -25vw !important;
		padding-left: 25vw !important;
	}
  /*animated map svg v1 [deprecated]*/

	#geo-map-container{
		width: 100%;
		margin: 0;
	}
}