body {
	margin: 0px;
	width: 100vw;
	overflow-x: hidden;
}

.container{
	margin: 0 30px;
	overflow: hidden;
}

/*map container is pinned as position: fixed, margin won't apply*/
#map-container{
	width: 100vw;
	height: auto;
	background: #fff;
	overflow: hidden;
	margin-left: -30px;
	margin-right: -30px;
}

#map{
	width: 100%;
	margin: 15px 0px;
	height: auto;
}

path{
	stroke-linecap: round;
	stroke-linejoin: round;
}

.path{
	fill:none;
	stroke:#000;
	stroke-width: 1px;
}

.path-stop{
	fill: #fff;
	stroke: #000;
	stroke-width: 0.3px;
}

.path-stop:hover{
	cursor: pointer;
	fill: #ccc;
}

#geo-map-container{
	width: 100vw;
	height: auto;
	background: #fff;
	overflow: hidden;
	margin: 15px -30px 15px -30px;
}

#geo-map{
	width: 100%;
	/*preserve aspect ratio of 960:500 => 500/960 * 100vw = */ 
	height: 52vw;
}