.container{
	margin: 0 30px;
}

#map-container{
	width: 100%;
	height: auto;
	background: #fff;
	padding: 15px 0px;
}

#map{
	width: 400px;
	height: auto;
	z-index: 999;
}

path{
	stroke-linecap: round;
	stroke-linejoin: round;
}

.path{
	fill:none;
	stroke:#000;
	stroke-width: 1px;
}

