body {
	margin: 0px;
	width: 100vw;
	overflow-x: hidden;
	/*default text sans-serif font*/
	font-family: 'Open Sans', sans-serif;
}

.container{
	margin: 0 15px;
	/*to allow fullwidth elements be shown*/
	/*overflow: hidden; */
}

.row{
	width: 100%;
}

.center{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.mobile-hidden{
	display: none;
}

.desktop-hidden{
	display: block;
}

.serif {
	/*title serif font */
	font-family: 'ZCOOL XiaoWei', serif;
}

.white {
	color: #fff;
}

.white a {
	color: #fff;
	text-decoration: none;
}

.yellow {
	color: #dcba7d;
}

a {
	color: black;
	text-decoration: underline;
	text-decoration-color: #dcba7d;
	transition: all .3s ease-in-out;
}


.icon > a:hover, .footer-icon > a:hover{
	background: none;
}

.header{
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background: url(assets/images/header-thumbnail-portrait.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  /*IE compatibility*/
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='assets/images/header-image-v4.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}

#header-video {
  position: absolute;
  left: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 0;
}

.header-container{
	margin: 0 8%;
	width: auto;
	height: auto;
	z-index: 1;
	padding-bottom: 10vh;
}

.header-title img{
	width: 85vw;
}

.header-intro{
	margin-top: 2vh;
	font-size: 0.8em;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
  color: #dcba7d;
}

.header-intro span
{
	display: block;
	font-weight: bold;
	margin-top: 2vh;
}

.header-indent{
	margin-left: 35px;
}

.header-button button
{
	background-color: transparent;
	font-size: 1em;
	color: #dcba7d;
	border: #dcba7d solid 3px;
	padding: 2vh 6vw;
	transition: all .3s ease-in-out;
	cursor: pointer;
	margin-top: 2vh;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
}

.header-button button:hover
{
	background-color: #dcba7d;
	color: #fff;
}

.header-button
{
	margin-top: 2vh;
}

.nav {
	width: 100vw;
	box-sizing: border-box;
	padding: 0 10px;
	height: 35px;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #1d1d1d;
	display: flex;
	justify-content: space-between;
	z-index: 999;
}

.nav-left, .nav-right{
	display: flex;
	align-items: center;
	justify-content: space-around;
	font-size: 15px;
	line-height: 12px;
}


.icon {
	width: 35px;
	height: 100%;
	max-height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	border-left: 1px solid #dcba7d;
	cursor: pointer;
}

.nav-right:last-child{
	border-right: 1px solid #dcba7d;
}

.icon:hover{
	background: #fff;
}

.pangolin-logo {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  object-fit: contain;
}

/*content styles*/
.chapter-title{
	font-family: 'ZCOOL XiaoWei', serif;
	font-size: 20px;
	color: #3b3b3b;
	text-align: center;
}

.byline{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	font-size: 10px;
	color: #dcba7d;
}

.bookmark{
	position: absolute;
	right:0;
	bottom: 0;
	width: 10px;
	height: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url(assets/images/bookmark.svg);
	background-repeat: no-repeat;
}

.footer{
	height: auto;
	min-height: 250px;
	margin-bottom: 50px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
	font-size: 10px;
	color: #220f07;
	text-align: right;
}

.pangolin-logo-footer {
  width: 68.6px;
  height: 75px;
  object-fit: contain;
}

.footer-icon {
	width: 30px;
	height: 100%;
	max-height: 23px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	cursor: pointer;
}

.footer-icons{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.article-image{
	width: 100%;
	height: auto;
}
/*content styles*/

/*component*/
.quote{
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	padding: 0 10px 10px 10px;
	border-bottom: 1px solid #dcba7d;
	box-sizing: border-box;
  font-family: 'ZCOOL XiaoWei', serif;
  font-size: 26px;
  font-weight: normal;
  color: #dcba7d;
}

.caption{
  font-size: 10px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  color: #3b3b3b;
  border-bottom: 1px solid #dcba7d;
  margin: 10px 0 0 0;
  padding-bottom: 10px;
}
/*component*/

/*animated map svg v1 [deprecated]*/
/*map container is pinned as position: fixed, margin won't apply*/
#map-container{
	width: 100vw;
	height: auto;
	background: #fff;
	overflow: hidden;
	margin: 0 -15px;
}

#map{
	width: 100%;
	margin: 15px 0px;
	height: auto;
}

path{
	stroke-linecap: round;
	stroke-linejoin: round;
}

.path{
	fill:none;
	stroke:#000;
	stroke-width: 1px;
}

.path-stop{
	fill: #fff;
	stroke: #000;
	stroke-width: 0.3px;
}

.path-stop:hover{
	cursor: pointer;
	fill: #ccc;
}
/*animated map svg v1 [deprecated]*/

#geo-map-container{
	width: 100%;
	height: auto;
	background: #fff;
	overflow: hidden;
	margin: 15px 0;
}

#geo-map{
	width: 100%;
}


.vis-title {
  font: 16px 'Open Sans';
  font-weight: bold;
  fill: white;
}

.seizure-total{
	font: 4em 'Open Sans';
  font-weight: bold;
  fill: white;
}

.legend-text{
	fill: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}

.circle-hover {
  stroke: #000;
  stroke-width: 1px;
}

.area {
  fill: steelblue;
  fill-opacity: 0.7;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.brush .extent {
  stroke: #fff;
  fill: #000;
  fill-opacity: .25;
  shape-rendering: crispEdges;
}

.bartip{
  position      : absolute;
  text-align    : center;
  max-width     : 70px;
  max-height    : 30px;
  padding       : 8px;
  border        : none;
  border-radius : 8px;
  margin-top    : -30px;
  font          : 10px sans-serif;
  background    : black;
  color         : white;
  pointer-events: none;
}

/*snazzy map*/
.snazzy{
	/*960 : 540*/
	width: 100vw;
	height: 56.25vw;
	margin-left: -15px;
	margin-right: -15px;
	background-size: cover;
	position: relative;
}

.routes-svg, .routes-bg{
	width: 100%;
}

.routes-svg{
	position: absolute;
	left: 0;
	top: 0;
}

.routes-bg{
	position: absolute;
	display: block;
	height: auto;
	left: 0;
	top: 0;
}
/*snazzy map*/
