#overlay{
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 999;
	background: rgba(0, 0, 0, 0.4);
	overflow: hidden;
}

#overlay form {
	display: inherit;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: auto;
}

#overlay input[type="email"]{
	display: inherit;
	width: 80%;
	max-width: 300px;
	line-height: 25px;
	border-radius: 5px;
	z-index: 1000;
}

#overlay button{
	display: inherit;
	background: #fff;
	margin: 20px; 
	border-radius: 5px;
	z-index: 1000;
}

#submit-message{
	display: inherit;
	font-size: 10px;
	color: red;
}