/* Progress Bar */
#progress-div{
    position:fixed;
    width:100%;
    height:3.5px;
    background-color: #dcba7d;
    top:19px;
    left:0px;
    z-index: 999;
}
#progress-bar{
    position: absolute;
    float:left;
    height:100%;
    background-color: #fc7a00;
    -webkit-transition: width 0.3s; /* Safari */
    transition: width 0.3s;
}
#progress-div:hover, #progress-bar:hover{
    cursor: pointer;
}
/* Progress Bar */