.routes-map-container{
	/*1466 : 1080*/
	width: 100vw;
	height: 73.67vw;
	background-size: cover;
	position: relative;
}

.routes-map-svg, .routes-map-bg{
	width: 100%;
}

.routes-map-svg{
	position: absolute;
	left: 0;
	top: 0;
}

.routes-map-bg{
	position: absolute;
	display: block;
	height: auto;
	left: 0;
	top: 0;
}

.routes-map-para{
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	width: 100vw;
	height: 100vh;

	padding-left: 10vw;
	padding-right: 10vw;

	margin-left: -15px;
}

.routes-map-para > p{
	padding: 8vw 5vw;
	border: 1px solid #ccc;
	background: rgba(255, 255, 255, 0.85);
	z-index: 1;
}

/* mobile routes map*/
.routes-map-container-m{
	/*750 : 1334*/
	width: 100vw;
	height: 177.87vw;
	background-size: cover;
	position: relative;
	margin: 0 -15px;
	overflow: hidden;
}

.routes-map-bg-m{
	width: 100%;
	position: absolute;
	display: block;
	height: auto;
	left: 0;
	top: 0;
}
/* mobile routes map/

/* Desktop */
@media only screen and (min-device-width: 480px) {
	.routes-map-container{
		/*1466 : 1080*/
		width: 75vw;
		height: 55.25vw;
		margin: 0 0 0 -25vw !important;
	}

	.routes-map-para{
		display: block;
		padding-left: 80vw;
		padding-right: 5vw;
		margin: 0 0 0 -25vw !important;
	}

	.routes-map-para > p{
		padding: 0;
		border: none;
		background: none;
	}

	.scrollmagic-pin-spacer{
		margin: 0 !important;
	}
}
